body {
  background-color: #0c3b6f;
  color: #c9c9c9;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1.5rem;
  overflow-x: hidden;
  text-align: start;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 3rem;
}

h1 {
  font-weight: bolder;
  color: #ffffff;
}

h2 {
  font-weight: bolder;
  color: #ffffff;
}

.sections {
  display: flex;
}

.column {
  width: 50%;
}

/* about section */

.about {
  width: 70%;
}

.about p {
  text-align: start;
}

/* experience */

.exp {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.exp div {
  justify-content: center;
}

.dates,
.title,
.company {
  margin: auto;
}

/* projects */

.projects_container {
  width: 100%;
}

.project {
  justify-content: center;
}

img {
  width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.tags {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}

.html {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 6rem;
  height: 1.7rem;
  background-color: #e34c26;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.css {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 4rem;
  height: 1.7rem;
  background-color: #264de4;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.js {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 8rem;
  height: 1.7rem;
  background-color: #f0db4f;
  color: #000000;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.github {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 4rem;
  height: 1.7rem;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.react {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 4rem;
  height: 1.7rem;
  background-color: #61DBFB;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}
