body {
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #161616;
  color: #c9c9c9;
  overflow-x: hidden;
  text-align: start;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bolder;
  color: #ffffff;
}

h2 {
  font-weight: bolder;
  color: #ffffff;
}

h3 {
  font-weight: bolder;
}

.sections {
  display: flex;
}

.column {
  width: 50%;
}

/* header */
header {
  margin-bottom: 3rem;
}

/* about section */

.about {
  width: 70%;
}

.about p {
  text-align: start;
}

/* experience */

.exp {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.exp div {
  justify-content: center;
}

.dates,
.title,
.company {
  margin: auto;
}

/* projects */

.projects_container {
  width: 100%;
}

.project {
  justify-content: center;
}

img {
  width: 60%;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.tags {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}

.html {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 6rem;
  height: 1.7rem;
  background-color: #e34c26;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.css {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 4rem;
  height: 1.7rem;
  background-color: #264de4;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.js {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 8rem;
  height: 1.7rem;
  background-color: #f0db4f;
  color: #000000;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.github {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 4rem;
  height: 1.7rem;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

.react {
  border-radius: 0.7rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 4rem;
  height: 1.7rem;
  background-color: #61dbfb;
  color: #000000;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}

/* mobile css*/

@media only screen and (max-width: 1200px) {
  body {
    background-color: #161616;
    color: #c9c9c9;
    font-size: 1rem;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: start;
    justify-content: center;
    align-items: center;
  }

  header {
    margin: 0;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  .sections {
    width: 100%;
    display: flex;
  }

  /* about section */

  .about {
    width: 90%;
  }

  /* projects */

  img {
    width: 90%;
    margin-bottom: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
  }

  .html {
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1rem;
    width: 4rem;
    height: 1.2rem;
    background-color: #e34c26;
    color: #ffffff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  }

  .css {
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1rem;
    width: 2.5rem;
    height: 1.2rem;
    background-color: #264de4;
    color: #ffffff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  }

  .js {
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1rem;
    width: 4.5rem;
    height: 1.2rem;
    background-color: #f0db4f;
    color: #000000;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  }

  .github {
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    font-size: 1rem;
    width: 2.5rem;
    height: 1.2rem;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  }

  .react {
    border-radius: 0.7rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1rem;
    width: 3rem;
    height: 1.2rem;
    background-color: #61dbfb;
    color: #ffffff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
  }
}
